@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quita cualquier borde en las barras de Recharts */
.recharts-bar-rectangle path,
.recharts-rectangle {
  stroke: none !important;
  outline: none !important;
  box-shadow: none !important;
}


/* Desactiva bordes y contornos de SVG en Recharts */
.recharts-surface,
.recharts-rectangle,
.recharts-bar-rectangle path,
svg,
svg path,
svg rect {

  outline: none !important;
  box-shadow: none !important;
}

/* Desactiva bordes por foco */
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-bar-rectangle:focus {
  outline: none !important;
  border: none !important;
}

/* Evitar fondo sólido del autofill en Chrome/Edge */
/* Forzar estilo translúcido en autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.15) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
